.data{
  display: none;
  position: absolute;
  top: 0;
  bottom:0;
  background:rgba(17,36,47,.9);
  z-index: 80;
  width:100%;
}
.progress, .progressBar{
  position: absolute;
  width: 100%;
  height:10px;
  top:52px;
  background:white;
}
.progressBar{
  opacity:.4;
}
.progress{
  opacity:1;
}
.progressBarAlt{
  top:0;
}