.data>div.explore{
  display:none;
  box-sizing:border-box;
  padding:150px 20%;
  overflow:auto;
}
.data>div.explore ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
.data>div.explore ul li:nth-of-type(3)>a{
clear:left;
}
.data>div.explore ul li a{
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  border:1px solid white;
  padding:20px 0;
  width:49%;
  box-sizing:border-box;
  text-align: center;
  margin-bottom:20px;
}
.data>div.explore h1, .data>div.explore ul li a{
  color: white;
}
.data>div.explore h1{
  text-align: center;
  font-size: 4.5em;
}
