.subIndex{
  box-sizing:border-box;
  /*padding:150px 20% 0 20%;*/
  overflow:auto;
  width: 100%;
}
.subIndex h1{
  text-align: center;
  font-size: 4.5em;
}
.subIndex a{
  opacity:.7;
}
.subIndex .filter{
  overflow: auto;
  padding-bottom:8px;
  border-bottom:3px solid rgba(255,255,255,.5);
}
.subIndex .alphabet{
  position: absolute;
  left: 50%;
  margin-left: -217px;
}
.subIndex .alphabet span{
  text-transform: capitalize;
  float: left;
  padding:0 3px;
  opacity:.5;
}
.subIndex .alphabet span:hover{
opacity:.9;
cursor:pointer;
}
.subIndex a{
  text-decoration: none;
}
.sort{
  font-size: 1.3em;
  padding:0 10px;
  margin:-5px 0 0 5px;
}
.sort .icon{
  float:right;
  margin:4px 0 0 0;
}
.subIndex ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
  height:320px;
}
.subIndex ul li{
  float:left;
  font-size: 1em;
  padding:10px;
  box-sizing:border-box;
}
.subIndex ul li{
  width:25%;
}
.subIndex .unavailable{
  opacity:.3;
}
.subIndex .more{
  position: absolute;
  left: 50%;
  margin:0 0 0 -4.5px;
}
.subIndex .lArrow{
  position: absolute;
  left: 15px;
  top:50%;
  margin-top:-25px;
}