.icon.dArrow, .icon.planet, .icon.comment, .icon.volume, .icon.expand, .icon.share, .icon.link, .icon.close, .icon.search, .icon.star, .icon.starFull{
  float: left;
}
.icon.dArrow, .icon.planet, .icon.comment, .icon.volume, .icon.expand, .icon.share, .icon.link{
  height:50px;
  width: 50px;
}
.icon.star, .icon.starFull, .icon.close, .icon.dCarat, .icon.search{
  height:20px;
  width: 20px;
}
.icon.dArrow{
background-image:url("../images/sprite-01.svg") ;
  background-position:0 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.planet{
background-image:url("../images/sprite-01.svg") ;
  background-position:-50px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.comment{
background-image:url("../images/sprite-01.svg") ;
  background-position:-100px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.volume{
background-image:url("../images/sprite-01.svg") ;
  background-position:-150px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.share{
background-image:url("../images/sprite-01.svg") ;
  background-position:-200px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.expand{
background-image:url("../images/sprite-01.svg") ;
  background-position:-250px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.logo{
background-image:url("../images/sprite-01.svg") ;
  background-position:-300px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.lArrow{
background-image:url("../images/sprite-01.svg") ;
  background-position:-350px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.rArrow{
background-image:url("../images/sprite-01.svg") ;
  background-position:-400px 0;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.star{
background-image:url("../images/sprite-01.svg") ;
  background-position:-465px -15px;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.starFull{
background-image:url("../images/sprite-01.svg") ;
  background-position:-515px -15px;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.close{
background-image:url("../images/sprite-01.svg") ;
  background-position:-565px -15px;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.dCarat{
background-image:url("../images/sprite-01.svg") ;
  background-position:-615px -15px;
  background-repeat:no-repeat;
  background-color:transparent;
}
.icon.search{
background-image:url("../images/sprite-01.svg") ;
  background-position:-665px -15px;
  background-repeat:no-repeat;
  background-color:transparent;
}